// FIVE
@import "_values";

// ONE
.main {
    background-color: tan;
    

    // THREE
    h1 {
        @include flex(center, flex-start);
        color: #ddd;
        // BONUS ONE
        &:hover {
            @extend %center;
            text-decoration: underline;
        }
    }
    // SEVEN
    h2 {
        @include flex(center, center);
        
        background: $brown1;
    }
    h3 {
        @include flex(center, flex-end);
        color: $brown1;
    }
}

// EIGHT
.minor {
    background: silver;
    // NINE
    h1 {
        text-decoration: underline;
        // TWELVE
        @extend %center;
        // BONUS TWO
        margin-bottom: calc(25px * 4);
    }
    // TEN
    h2 {
        text-decoration: line-through;
        // TWELVE
        @extend %center;
    }
}

